* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  color: white;
}

.links {
  display: flex;
  flex-direction: column;
}

.links * {
  margin: 8px;
  text-decoration: none;
  color: inherit;
}

.main {
  margin: 55px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 570px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 125px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 65px 45px;
  border: 1px solid #eaeaea;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 10px;
  min-height: 200px;
  text-align: center;
}

.container * {
  margin: 10px;
}

.buttons {
  margin: 40px 10px 10px 10px;
}

.btn {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.conversions {
}

.pair {
  text-align: justify;
}

.pair span {
  color: rgb(0, 121, 148);
  font-weight: bold;
}

.input {
  text-align: center;
  padding: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

.feature {
  padding: 20px 80px;
  border-radius: 10px;
  background-color: #eaeaea70;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

/* Tablet */
@media only screen and (min-width: 600px) {
  .links * {
    margin: 12px;
  }

  .container {
    width: 500px;
  }

  .links {
    flex-direction: row;
  }
}

/* Computer */
@media only screen and (min-width: 900px) {
  .container {
    width: 700px;
  }
}
