:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset some basic elements to ensure consistency across browsers */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Basic body styling */
body {
  font-family: 'Arial', sans-serif; /* You can choose a different font */
  color: #333; /* Dark grey text for readability */
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Light background */
}

/* Container for centering content and setting a max width */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Basic typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.8em;
  color: #222; /* Slightly darker than body text for emphasis */
}

p {
  margin-bottom: 1em;
}

a {
  color: #007bff; /* Bootstrap's default blue for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  border: 1px solid #eaeaea;
  margin: 2px;
  padding: 10px;
  border-radius: 15px;
  width: 250px;
  font-family: monospace, Arial, Helvetica, sans-serif;
}

textarea {
  border: 1px solid #eaeaea;
  margin: 2px;
  padding: 10px;
  border-radius: 15px;
  width: 250px;
  height: 120px;
  resize: none;
}

.cursor {
  cursor: pointer;
}

.form button {
  border: 1px solid #eaeaea;
  margin: 2px;
  padding: 10px;
  border-radius: 15px;
  width: 250px;
  cursor: pointer;
}

/* Utility classes for spacing */
.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.pt-1 {
  padding-top: 1rem;
}
.pb-1 {
  padding-bottom: 1rem;
}

.card {
  border: 1px solid #eaeaea;
  background-color: white;
  border-radius: 15px;
  padding: 35px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Responsive design: Adjustments for small screens */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
