:root {
  --primary-color: #ff0000;
  --secondary-color: #ffffff;
  --tertiary-color: #0000ff;
  --quad-color: #ffff00;
  --fifth-color: #996611;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav {
  background-color: var(--primary-color);
  padding: 12px;
  color: var(--secondary-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

.main * {
  margin: 10px;
}

.baddies {
  display: flex;
  flex-direction: column;
}

.baddie {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--quad-color);
  padding: 5px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

.baddie-img {
  height: 170px;
  width: auto;
  overflow: hidden;
}

.baddie-img img {
  height: 100%;
}

.total-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input {
  display: flex;
  flex-direction: row;
}

.footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.footer ul li {
  padding: 4px;
  font-weight: 600;
}

.footer ul {
  list-style: none;
}

@media only screen and (min-width: 850px) {
  .baddie {
    width: auto;
  }

  .main {
    padding: 5px;
  }

  .baddies {
    flex-direction: row;
  }
}
